body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f9fafc;
  color: #333;
}

header {
  background-color: #005bbb;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
